In [1]:

import pandas as pd
import numpy as np

In [2]:
inkar = pd.read_csv("../data/inkar_2022.csv",sep=";",decimal=",",dtype={'Kennziffer':str,'Kennziffer_EU':str,'Name':str}, low_memory=False)
inkar.head()

,Bereich,ID,Indikator,Raumbezug,Kennziffer,Name,Zeitbezug,Wert
0,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1995,10494.0
1,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1996,11921.0
2,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1997,13213.0
3,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1998,13301.0
4,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1999,12048.0

In [3]:
indicators = inkar.Indikator.unique()
categorys = inkar.Bereich.unique()
ids = inkar.ID.unique()
#print(indicators)
#print(categorys)
#print(ids)
zeit = inkar.Zeitbezug.unique()
raumbezug = inkar.Raumbezug.unique()

print(raumbezug)

['Arbeitsmarktregionen' 'BBSR-Mittelbereiche' 'Braunkohlereviere' 'Bund'
 'Bundesländer' 'Europäische Metropolregion' 'Gemeindeverbände'
 'Großstadtregionaler Einzugsbereich' 'Großstadtregionen' 'IHK-Bezirke'
 'Kreise' 'Kreisregionen' 'Raumordnungsregionen'
 'Raumtyp Bezug Lage (Kreise)' 'Raumtyp Bezug: Lage (Gemeindeverbände)'
 'Regierungsbezirke' 'Regionalstatistischer Raumtyp 17 (RegioStaR17)'
 'Regionalstatistischer Raumtyp 2 (RegioStaR2)'
 'Regionalstatistischer Raumtyp 7 (RegioStaR7)'
 'Regionalstatistischer Raumtyp Gemeindetyp 5 (Regio'
 'Siedlungsstruktureller Kreistyp'
 'Siedlungsstruktureller Kreistyp (Bundesländer)'
 'Siedlungsstruktureller Kreistyp (West-Ost)'
 'Siedlungsstruktureller Regionstyp'
 'Siedlungsstruktureller Regionstyp (Bundesländer)'
 'Siedlungsstruktureller Regionstyp (West-Ost)' 'Stadt- und Gemeindetyp'
 'Stadt- und Gemeindetyp (Bundesländer)'
 'Stadt- und Gemeindetyp (West-Ost)'
 'Stadt- und Gemeindetyp differenziert' 'Städtischer-Ländlicher Raum'
 'Städtischer-Ländlicher Raum (Bundesländer)'
 'Städtischer-Ländlicher Raum (West-Ost)' 'Wachsen-Schrumpfen (Gemeinden)'
 'Wachsen-Schrumpfen (Kreise)' 'West-Ost' 'Europäische Union' 'NUTS0'
 'NUTS1' 'NUTS2' 'Gemeinden' 'Zentrale Orte (ja/nein)'
 'Zentralörtliche Einstufung (zusammengefasst)'
 'zentralörtliche Funktion - Grundzentrum'
 'zentralörtliche Funktion - keine'
 'zentralörtliche Funktion - Mittelzentrum'
 'zentralörtliche Funktion - Oberzentrum']

In [6]:
raumbezug_selection = ["Kreise","Gemeinden", "Gemeindeverbände"]
temp = inkar[inkar['Raumbezug'].isin(raumbezug_selection)]

menu = temp.groupby(['Bereich','Indikator','ID']).aggregate({'Zeitbezug':['min','max']})
menu.columns = ["_".join(a) for a in menu.columns.to_flat_index()]
menu = menu.merge(temp.pivot_table(index=['Bereich','Indikator','ID'], columns='Raumbezug',values='Kennziffer',aggfunc=np.count_nonzero),left_index=True,right_index=True)

for column in raumbezug_selection:
    menu[column] = (menu[column]>0).replace({True: 'X', False: ""})

menu = menu.assign(
    select="",
    category="",
    category_de=menu.index.get_level_values('Bereich'),
    category_nl="",
    name="",
    name_de=menu.index.get_level_values('Indikator'),
    algorithmus="",
    description="",
    statistical_basis="",
    name_nl="",
    source_de="Inkar",
    source_id_de=menu.index.get_level_values('ID'),
    source_nl="",
    source_id_nl="",
)

column_order = ['select', 'category', 'category_de', 'category_nl', 'name', 'name_de', "algorithmus", "description", "statistical_basis", 'name_nl', 'source_de', 'source_id_de', 'source_nl', 'source_id_nl', 'Zeitbezug_min', 'Zeitbezug_max', 'Gemeinden', 'Gemeindeverbände', 'Kreise']
menu = menu[column_order]

menu.reset_index(inplace=True, drop=True)

menu.to_csv("C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/menu.csv")
#menu.to_excel("C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/output1.xlsx", index=False)
menu

,select,category,category_de,category_nl,name,name_de,algorithmus,description,statistical_basis,name_nl,source_de,source_id_de,source_nl,source_id_nl,Zeitbezug_min,Zeitbezug_max,Gemeinden,Gemeindeverbände,Kreise
0,,,Absolutzahlen,,,Arbeitslose,,,,,Inkar,2176,,,1995,2020,,X,X
1,,,Absolutzahlen,,,Bevölkerung (mit Korrektur VZ 1987/Zensus 2011),,,,,Inkar,10806,,,1995,2020,,X,X
2,,,Absolutzahlen,,,Bevölkerung gesamt,,,,,Inkar,12586,,,1995,2020,,X,X
3,,,Absolutzahlen,,,Bevölkerung männlich,,,,,Inkar,12747,,,1995,2020,,X,X
4,,,Absolutzahlen,,,Bevölkerung weiblich,,,,,Inkar,12746,,,1995,2020,,X,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,,,Öffentliche Finanzen,,,Personal der Kommunen,,,,,Inkar,14928,,,2006,2019,,,X
541,,,Öffentliche Finanzen,,,Schlüsselzuweisungen,,,,,Inkar,14926,,,1995,2020,,X,X
542,,,Öffentliche Finanzen,,,Steuerkraft,,,,,Inkar,14586,,,1995,2019,,X,X
543,,,Öffentliche Finanzen,,,Umsatzsteuer,,,,,Inkar,14906,,,1995,2020,,X,X
544,,,Öffentliche Finanzen,,,Zuweisungen für Investitionsfördermaßnahmen,,,,,Inkar,14930,,,2009,2020,,X,X