In [1]:

import pandas as pd
import numpy as np

In [2]:

data = pd.read_csv("out/data.csv")
data.head()

,select,category,category_de,category_nl,name,name_de,algorithmus,description,statistical_basis,name_nl,source_de,source_id_de,source_nl,source_id_nl,gemeinden,kreise,zeitbezug_gemeinden,zeitbezug_kreise
0,NaN,NaN,Absolutzahlen,NaN,NaN,Arbeitslose,NaN,Es handelt sich um die Zahl der Arbeitslosen i...,Arbeitsmarktstatistik der Bundesagentur für Ar...,NaN,Inkar,2176,NaN,NaN,NaN,X,NaN,1995 - 2020
1,NaN,NaN,Absolutzahlen,NaN,NaN,Bruttoinlandsprodukt in 1000 Euro,NaN,Das Bruttoinlandsprodukt (BIP) misst die Produ...,"Arbeitskreis ""Volkswirtschaftliche Gesamtrechn...",NaN,Inkar,4273,NaN,NaN,NaN,X,NaN,2000 - 2020
2,NaN,NaN,Absolutzahlen,NaN,NaN,Sozialversicherungspflichtig Beschäftigte am W...,NaN,Es handelt sich um die Zahl der sozialversiche...,Beschäftigtenstatistik der Bundesagentur für A...,NaN,Inkar,8766,NaN,NaN,NaN,X,NaN,1997 - 2020
3,NaN,NaN,Absolutzahlen,NaN,NaN,Sozialversicherungspflichtig Beschäftigte am A...,NaN,Es handelt sich um die Zahl der sozialversiche...,Beschäftigtenstatistik der Bundesagentur für A...,NaN,Inkar,8774,NaN,NaN,NaN,X,NaN,1997 - 2020
4,NaN,NaN,Absolutzahlen,NaN,NaN,Bevölkerung (mit Korrektur VZ 1987/Zensus 2011),NaN,Zwischen der Zahl der Bevölkerung am 31.12.201...,"Bundesinstitut für Bau-, Stadt- und Raumforsch...",NaN,Inkar,10806,NaN,NaN,NaN,X,NaN,1995 - 2020

In [3]:
# Code um die ausgewählten Indicatoren zu erstellen

indicators = pd.DataFrame(columns=['category_de', 'name_de', 'source_de', 'source_id_de', 'category_nl', 'name_nl', 'source_nl', 'source_id_nl'])

for index in data.index:
    if data['select'][index] == "x":
        print(index)
        category_value = data['category_de'][index]
        indicator_name = data['name_de'][index]
        source_value = data['source_de'][index]
        source_id_value = int(data['source_id_de'][index])
        indicators.loc[len(indicators)] = {'category_de': category_value, 'name_de': indicator_name, 'source_de': source_value, 'source_id_de':source_id_value}


indicators.reset_index(drop=True, inplace=True)
#indicators.to_csv("C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/indicators.csv", index=False)
indicators.to_excel("C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/indicators.xlsx", index=False)

11
93
112
113
200
265
270
278
536

In [8]:
inkar = pd.read_csv("../data/inkar_2022.csv",sep=";",decimal=",",dtype={'Kennziffer':str,'Kennziffer_EU':str,'Name':str}, low_memory=False)
inkar.head()

,Bereich,ID,Indikator,Raumbezug,Kennziffer,Name,Zeitbezug,Wert
0,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1995,10494.0
1,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1996,11921.0
2,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1997,13213.0
3,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1998,13301.0
4,Absolutzahlen,2176,Arbeitslose,Arbeitsmarktregionen,001,Flensburg,1999,12048.0

In [23]:
#raumbezug_selection = ["Kreise","Gemeinden", "Bund", "Bundesländer", "Gemeindeverbände"]
raumbezug_selection = ["Bund"]
inkar = inkar[inkar['Raumbezug'].isin(raumbezug_selection)]

In [35]:
filtered_inkar = inkar[(inkar['Bereich'].isin(indicators['category'])) & (inkar['ID'].isin(indicators['source_id'])) & (inkar['Indikator'].isin(indicators['name']))]
filtered_inkar.reset_index(drop=True, inplace=True)
filtered_inkar.head()
#filtered_inkar.to_csv("C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/filtered_inkar2.csv", index=False)

,Bereich,ID,Indikator,Raumbezug,Kennziffer,Name,Zeitbezug,Wert
0,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1995,3632966.0
1,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1996,3980747.0
2,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1997,4384102.0
3,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1998,4280039.0
4,Absolutzahlen,2176,Arbeitslose,Bund,111,Bundesrepublik Deutschland,1999,4100377.0

In [40]:
temp = filtered_inkar['Indikator'].unique()
temp

array(['Arbeitslose', 'Bevölkerung (mit Korrektur VZ 1987/Zensus 2011)'],
      dtype=object)

In [43]:
print(filtered_inkar['Bereich'].unique())
indicators_csv = filtered_inkar['Indikator'].unique()
wanted_columns = ["Kennziffer", "Wert", "Zeitbezug"]
for indikator in indicators_csv:
    currentData = filtered_inkar[filtered_inkar['Indikator'] == indikator]
    currentData = currentData[wanted_columns]
    indikator = indikator.split(" ")[0];
    fileName = f"C:/Users/juliu/VSCODE/VSCODE/inkar-indicators/src/out/indicator_{indikator}.csv"
    currentData.to_csv(fileName, index=False)

['Absolutzahlen']